
/*---------------------- Color Scheme

green: #4abdac;
orange: #fc4a1a;
yellow: #f7b733;
grey: #f8f7f9;


--------------------------    */





body, html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}


/*---------------------- Navbar */

.navbar {
    background-color: rgba(74,189,172,0.5);
    border-bottom: 1px solid #fc4a1a;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

.navbar-brand:hover {
    color: #fc4a1a;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 12px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fc4a1a;
}

.navbar-toggler-icon {
    color: #fc4a1a;
    padding-top: 5px;
}

/*-- Removes default Bootstrap outline property on nav dropdown button ------*/
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
outline:none !important; 
} 

/*---------------------- Header */

#header {
    background: url(img/header.jpg) center center no-repeat;
    opacity: 0.85;
    background-size: cover;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
}

#header-title {
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 10px;
}

#header .fa {
    color: #ffffff;
    margin: 5% 0;
}

#header .fa:hover {
    color: #fc4a1a;
}

/*---------------------- About Me */

#about {
    background-color: #f8f7f9;
    padding: 60px 0;
    text-align: center;
}

/*---------------------- Social Media Connect */

#connect {
    padding: 60px 0;
    text-align: center;
}

#connect .fa {
    color: #fc4a1a;
    margin-top: 30px;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
}

#connect .fa:hover {
    color: #4abdac;
    
}


/*---------------------- Meditation */

#meditation {
    background-color: #f8f7f9;
    padding: 60px 0;
    text-align: center;
}

/*---------------------- Media Queries */

